@model Marchandise_FCE.Models.Mtarif

@{
    ViewData["Title"] = "Create";
}

<h1>Nouveau tarif</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idtarif" class="control-label"></label>
                <input asp-for="idtarif" class="form-control" />
                <span asp-validation-for="idtarif" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="prixkilo" class="control-label"></label>
                <input asp-for="prixkilo" class="form-control" />
                <span asp-validation-for="prixkilo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="codcat" class="control-label"></label>
                <select asp-for="codcat" class ="form-control" asp-items="ViewBag.codcat"></select>
            </div>
            <div class="form-group">
                <label asp-for="codezone" class="control-label"></label>
                <select asp-for="codezone" class ="form-control" asp-items="ViewBag.codezone"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
