@model Marchandise_FCE.Models.Mzone

@{
    ViewData["Title"] = "Delete";
}

<h1>Suppression</h1>

<h3>Êtes vous sûr de supprimer cette zone ?</h3>
<div>
    <h4>Mzone</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomzone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomzone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descriptzone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descriptzone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="codezone" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" /> |
        <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
    </form>
</div>
