html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Verdana', Tahoma, Geneva,Segoe UI, sans-serif;
}

body {
  margin-bottom: 60px;
}

.logo {
    height: 30px;
    weight: 30px;
}

.lien {
    display: block;
    color: rgb(199, 199, 199);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    font-size: 19px;
}